doctype html
html
  head
    title= 'ডেঙ্গু পরিস্থিতিতে বাংলাদেশ'
    //- link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:200,400,500')
    //- link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    //- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css')
    //- link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css')
    link(rel='stylesheet', href='/css/app.css')
  body
    div#app
    script(src='/js/app.js')